
<div class="d-flex bd-highlight">
  <div class="p-2 flex-fill bd-highlight">
    <a class="bg-success btn btn-outline-dark" routerLink="/create" >
      Add Customer</a>
  </div>
  <div class="p-2 flex-fill bd-highlight">
    <h1  style="margin-right: 250px">Table of Customers</h1 ></div>

</div>

<div class="tbl-header">
  <table cellpadding="0" cellspacing="0" border="0" class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th >Name</th>
      <th>Customer Type</th>
      <th >phone</th>
      <th>Address</th>

      <th >Edit</th>
      <th >Delete</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let customer of customerList">
      <td>{{customer.id}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.customerType.name}}</td>
      <td>{{customer.phone}}</td>
      <td>{{customer.address}}</td>
      <td>
        <a class="bg-success btn btn-outline-dark" [routerLink]="['/customer/edit',customer.id]" >
          Edit</a>
      </td>

      <td>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"   (click)="findCustomerById(customer.id)">
          Delete
        </button>
    </td>
    </tbody>
  </table>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-info">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body bg-info">
                    <div>Do you wanna delete customer:</div>
                <div>id: {{customerObj.id}}</div>
                <div>name: {{customerObj.name}}</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" (click)="deleteCustomer(customerObj.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>





