.p{
  margin-left: 300px;

}
.menu li{
  position: relative;
  float: left;
  list-style: none;
}
.account li{
  position: relative;
  float: left;
  list-style: none;

}
.surface_8_pro li{
  position: relative;
  float: left;
  list-style: none;
}
.feed_back li{
  position: relative;
  float: left;
  list-style: none;
  margin-left: 50px;
  margin-top: 30px;
}
.menu li:hover{
  background-color: lemonchiffon;
}

.product:hover{
  background-color: lemonchiffon;
}
.feed_back li:hover{
  background-color: lemonchiffon;
}
.footerconstraint-inner {
  max-width: 1094px;
  min-width: 620px;
  margin: 0 auto;
  padding: 0 8px;
}
