
<div class="container">
  <div class="col-5 m-auto">
    <form form>
      <!--      <fieldset disabled>-->
      <legend>Student</legend>
      <div class="mb-3">
        <label  class="form-label">Id</label>
        <input type="text"  class="form-control"  formControlName="name" id="studentId" placeholder="id">
      </div>

      <div class="mb-3">
        <label  class="form-label">Address</label>
        <input type="text"  class="form-control" formControlName="dateOfBirth"  id="studentAddress" placeholder="address">
      </div>
      <button type="submit" class="btn btn-primary" (click)="save()">Submit</button>
      <!--      </fieldset>-->
    </form>

  </div>
</div>


